span {
  font-weight: bold;
  font-size: 3.5em;
}
.span {
  font-size: 1.8em;
  font-weight: 500;
}
.me {
  transform: translateY(160px);
  margin-left: 20px;
}
.her {
  transform: translateY(160px);
}

.center2 {
  display: flex;
  justify-content: center;
}
.nan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
